@import "ember-bootstrap/bootstrap";

@import "ember-power-select/themes/bootstrap";

@import "ember-power-select";

main {
  margin: 1em 0 1em 0;
}

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

#nprogress .spinner {
  top: inherit;
  bottom: 1em;
  right: 1em;
}

.text-monospace {
  font-family: $font-family-monospace;
}
