@import "ember-bootstrap/bootstrap";

@import "ember-power-select/themes/bootstrap";

@import "ember-power-select";

@import "colors";

@import "utilities";

@import "ballance-overview";

@import "navigation-bar";

@import "account-card";


body {
  background-image: linear-gradient(-180deg, #000064 0%, #000034 100%);
  height: 100vh;
}

main {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

hr {
  width: 90%;
  border-top: 1px solid $purple;   
}

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

.text-monospace {
  font-family: $font-family-monospace;
}

#nprogress .spinner {
  top: inherit;
  bottom: 1em;
  right: 1em;
}

.ember-load-indicator {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10000;

  picture {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12em;
    height: 12em;
    margin: -6em 0 0 -6em;
    animation: loading 2s infinite;
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
