{{ballance-overview}}

<section>
  <div class="container-fluid">
    <div class="row">
      <hr>
    </div>
  </div>
</section>

{{wallet-overview wallet=model accounts=model.accounts createAccount=(route-action 'createAccount') page=page perPage=perPage}}
