{{#liquid-if hideHistory class="balance"}}
  {{ballance-overview}}
{{/liquid-if}}

{{#liquid-if hideHistory class="balance"}}
  <section>
    <div class="container-fluid">
      <div class="row">
        <hr>
      </div>
    </div>
  </section>
{{/liquid-if}}

{{wallet-overview wallet=model accounts=model.accounts hideHistory=hideHistory createAccount=(route-action 'createAccount') page=page perPage=perPage}}

{{liquid-outlet class="history"}}