<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Send</h1>
    <p class="lead">Send XRB from one of your accounts to another account.</p>
  </div>
</div>

{{account-send accounts=model.accounts sendAmount=(route-action 'sendAmount')}}
