.navbar {
  background-color: transparent;
  padding: 30px;
}

.nav-item {
  margin: 0 10px;

  i {
    margin: 0 5px 0 0;
  }
}

.navbar-toggler {
  border: none;
  outline: none;
}

.button2 {
  border: none;
  border-radius: 5px;
  background-color: white;
  padding: 5px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
