<section>
  <div class="container">
    <div class="row">
      <div class="col">
        {{#link-to 'wallets.overview' model.wallet class="toggle-history-arrow"}}
          {{fa-icon "chevron-up"}}
        {{/link-to}}
      </div>
    </div>
  </div>
</section>

{{#liquid-if (not hideHistory) class="hide-history"}}
  <section>
    <div class="container-fluid">
      <div class="row history-item-list">
        {{account-history history=model.history}}
      </div>
    </div>
  </section>
{{/liquid-if}}
