.currency-tabs {
  padding: 0;
  margin: 0 0 10px;

  li > a {
    color: $white;
    font-size: 20px;
    letter-spacing: 0.89px;

    &.active {
      color: $orange;
      text-decoration: underline;
    }
  }
}

.balance {
  border: 0;
  color: $white;
  font-size: 90px;
  font-weight: 300;
  line-height: 1;
  margin: 0;
  padding: 0;
  text-align:  center;
}

.pending {
  color: $white;
  font-size: 16px;
  letter-spacing: 2px;
  margin: 20px 0 0;
  text-align: center;
  text-transform: uppercase;
}

.pending > span {
  color: $text-light-blue;
  font-size: 30px;
  letter-spacing: 1.33px;
  margin: 0;
}

@media (max-height: 730px) {
  .pending {
    display: none;
  }
}

@media (max-height: 638px) {
  .currency-tabs,
  .balance {
    display: none;
  }
}
