<section>
  <div class="contianer">
    <div class="row">
      <div class="col">
        <ul class="nav justify-content-center currency-tabs">
          {{#each currencies as |currency|}}
            <li class="nav-item">
              <div class="nav-link">
                {{balance-currencies amount=wallet.balance currency=currency}}
              </div>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="text-center">
          <h1 class="balance">
            {{format-amount wallet.balance}}
          </h1>
          <p class="pending">
            {{t 'balancePending'}}
            <br>
            <span>
              {{format-amount wallet.pending}}
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
