{{#bs-modal as |modal|}}
  {{#modal.header}}
    <h4 class="modal-title">{{t 'starting'}}</h4>
  {{/modal.header}}
  {{#modal.body}}
    {{fa-icon 'refresh' size=3 spin=true}}
  {{/modal.body}}
{{/bs-modal}}
