{{page-numbers content=history currentPage=page totalPages=totalPages}}

{{#light-table table tableClassNames='table table-striped' height='auto' as |t|}}
  {{t.head}}

  {{#t.body canSelect=false as |body|}}
    {{#if (is-pending history)}}
      {{#body.loader}}
        {{fa-icon 'refresh' size=3 spin=true}}
        <span class="sr-only">Loading...</span>
      {{/body.loader}}
    {{/if}}

    {{#if table.isEmpty}}
      {{#body.no-data}}
        No history found.
      {{/body.no-data}}
    {{/if}}
  {{/t.body}}
{{/light-table}}
