{{#if history}}
  {{#each history as |entry|}}
    {{account-history-entry entry=entry}}
  {{/each}}
{{else}}
  <div class="d-flex justify-content-center h-100">
    <div class="no-history d-flex justify-content-center align-items-center col-xs-12 col-md-8">
      <h1>{{t 'wallets.accounts.history.none'}}</h1>
    </div>
  </div>
{{/if}}
