{{#if model}}
  {{#each model as |item|}}
    {{account-history-entry model=item}}
  {{/each}}
{{else}}
  <div class="no-history d-flex justify-content-center align-items-center col-xs-12 col-md-8">
    <h1>{{t 'wallets.accounts.history.none'}}</h1>
  </div>
{{/if}}