a {
  outline: none;
}

.account-card-content {
  align-items: center;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 350px;
  margin: 0 auto;
  padding: 30px 20px;
  transition: .4s;
  width: 280px;

  &:hover,
  &.active {
    transform: scale(1.10) !important;
  }

  img.qr-code {
    display: block;
    height: auto;
    margin: 0 auto;
    width: 90%;
  }

  i {
    color: $blue;
  }

  sup > img {
    display: inline-block;
  }

  .balance {
    color: $dark-purple;
    font-size: 20px;
    line-height: 1;
    margin: 10px 0;
    text-align: center;
  }

  .balance span {
    font-size: 13px;
  }

  .balance sub {
    color: $green;
    font-size: 14px;
  }

  .account-id {
    background-color: $dark-purple;
    color: white;
    display: block;
    font-size: 1.4vh;
    height: 60px;
    margin: 0;
    overflow-wrap: break-word;
    padding: 10px;
    text-align: center;
    width: 100%;
  }
}
