{{#link-to 'wallets.overview.accounts.history' model class="text-decoration-none"}}
  <div class="account-card">
    {{#liquid-if hideHistory class="hide-qr"}}
      {{qr-code content=model.id}}
    {{/liquid-if}}
    <p class="ballance">
      <sup>
        <img src="images/nano-icon.svg" alt="">
      </sup>{{format-amount model.balance}}
      <br>
      <sub class="text-truncate">+{{format-amount model.pending}}</sub>
    </p>
    <p class="account-id  ">
      {{model.id}} {{!--
      <span>xrb_17oqj</span>4rpads4o6ud448yymzk9jot8yzmzyeuteq3bj38cwjpt4rrgxhfx
      <span>fr1</span> --}}
    </p>
  </div>
{{/link-to}}