{{outlet}}

<div class="jumbotron jumbotron-fluid" style="min-height: 100vh">
  <div class="container-fluid">
    <h1 class="display-3">
      <img class="img-fluid w-50" src="Cairn-light.svg" alt="Cairn">
    </h1>
    <p class="lead">Let's get your wallet setup.</p>
    <hr class="my-4">
    <p>To begin using Cairn, you must first create a new wallet or import your wallet data using a seed.</p>
    {{#bs-button type="primary" block=true onClick=(route-action 'createWallet') }}
      Create New Wallet
    {{/bs-button}}
    {{#bs-button type="secondary" block=true onClick=(route-action 'importWallet')}}
      Import Wallet
    {{/bs-button}}
  </div>
</div>
