{{navigation-bar wallet=model onChangeRepresentative=(route-action 'changeRepresentative') onCreateAccount=(route-action 'createAccount') onChangePassword=(route-action 'changePassword')}}

<main role="main">
  {{notification-center}}

  {{outlet}}
</main>
