{{navigation-bar wallet=model onCreateAccount=(route-action 'createAccount')}}

<main role="main">
  <div class="notifications">
    {{#each flashMessages.arrangedQueue as |flash|}}
      {{flash-message flash=flash sticky=true}}
    {{/each}}
  </div>

  {{outlet}}
</main>
