{{navigation-bar model=model}}

<main role="main" class="container">
  {{bread-crumbs tagName="ol" linkable=true crumbClass="breadcrumb-item"}}

  {{#each flashMessages.arrangedQueue as |flash|}}
    {{flash-message flash=flash}}
  {{/each}}

  <div class="row">
    <div class="col">
      {{outlet}}
    </div>
  </div>
</main>
