<form>
  <div class="form-group">
    <label><b>{{t 'wallet'}}</b></label>
    <p translate='no'>
      <code>{{wallet.id}}</code>
    </p>
  </div>
</form>

{{#wallet-password wallet=wallet onSubmit=onChangePassword}}
  {{#bs-button buttonType="submit" type="danger" icon="fa fa-key" class="w-100"}}
    {{t 'wallets.settings.changePassword'}}
  {{/bs-button}}
{{/wallet-password}}
