<form>
  <div class="form-group">
    <label><b>{{t 'wallet'}}</b></label>
    <p>
      <code>{{wallet.id}}</code>
    </p>
  </div>
</form>

{{wallet-password wallet=wallet setup=false onSubmit=(route-action 'changePassword')}}
