{{#bs-modal onHide=(route-action 'cancel') as |modal|}}
  {{#modal.header}}
    <h4 class="modal-title">Import Wallet</h4>
  {{/modal.header}}
  {{#modal.body}}
    {{wallet-import wallet=model onSubmit=(action (queue (route-action 'saveWallet') (route-action 'changeSeed')))}}
  {{/modal.body}}
  {{#modal.footer}}
    {{#bs-button onClick=(action modal.close) type="secondary"}}
      Cancel
    {{/bs-button}}
    {{#bs-button onClick=(action modal.submit) type="primary"}}
      {{fa-icon 'upload'}}
      Import
    {{/bs-button}}
  {{/modal.footer}}
{{/bs-modal}}
