<h1>History</h1>
{{!--
<p class="lead">
  Account: {{model.account.id}}
</p> --}}

<p class="small text-muted">
  Account: {{model.account.id}}
</p>

{{account-history wallet=model.wallet account=model.account history=model.history page=page perPage=perPage}}
