<h1>{{t 'history'}}</h1>

<p class="small text-muted">
  {{t 'account'}}: {{model.account.id}}
</p>

{{account-history wallet=model.wallet account=model.account history=model.history page=page perPage=perPage}}
