<h5 class="font-weight-light d-block d-sm-none">{{t 'setup.instructions'}}</h5>
<br>
{{#bs-button type="primary" class="btn-lg w-100" block=true onClick=(route-action 'createWallet') }}
  {{t 'setup.create'}}
{{/bs-button}}
<p class="text-center my-2">{{t 'setup.or'}}</p>
{{#bs-button type="secondary" class="btn-lg w-100" block=true onClick=(route-action 'importWallet')}}
  {{t 'setup.import'}}
{{/bs-button}}
