& {
  -webkit-app-region: no-drag;
}

.swiper-container {
  padding: 20px 0 10px 0;
}

.swiper-wrapper {
  transform: translate3d(0);
  will-change: transform;
}

.swiper-slide {
  display: flex;
  height: 400px;
  justify-content: center;
}

.swiper-slide-active {
  .account-card-content {
    transform: scale(1.10) !important;
  }
}

.swiper-pagination-bullet {
  background: $white;
}
