<h4 class="modal-title">{{t 'wallets.password.title'}}</h4>
{{#bs-form model=(changeset (hash password=password) ChangePasswordValidations)
    onSubmit=(action (queue (action onSubmit wallet) (action 'clearPassword'))) as |form|}}
  {{form.element controlType="password" label=(t 'password') property='password' required=true minlength=8}}
  {{#bs-button buttonType="submit" type="primary"}}
    {{t 'wallets.password.submit'}}
  {{/bs-button}}
{{/bs-form}}
