& {
  position: absolute;
  overflow: hidden;
  width: 70px;
  height: 70px;
  right: 20px;
  bottom: 20px;
  z-index: 10;
  border-radius: 70px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  background-color: $light-blue;
  color: $white;
  margin: 30 auto 0;

  &.expand {
    animation: expand 0.3s 0s forwards;

    .send-form {
      opacity: 0;
      animation: 0.3s ease fade-in forwards;
      animation-delay: 0.3s;
    }
  }

  h1 {
    font-weight: 300;
  }

  .toggle {
    cursor: pointer;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 70px;
    height: 70px;
    border: 0;
    outline: none;
    background-color: inherit;
    color: $white;

    i {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 30px;
      height: 30px;
      margin: -14px 0 0 -16px;
      padding: 0;
      transition: transform 0.3s ease-in-out;
      font-size: 28px;
    }

    &:active {
      .fa-paper-plane {
        transform: rotate(45deg);
      }

      .fa-times {
        transform: rotate(-90deg);
      }
    }
  }

  &.expand {
    .toggle {
      top: 0;
    }
  }

  p {
    font-size:20px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: -3px;
    text-align: left;
  }

  .send-form {
    height: 100vh;

    h1 {
      font-size: 90px;
      margin-bottom: 30px;
      border: 0;
    }

    form {
      width: 100%;
    }

    label {
      text-transform: uppercase;
      font-size: 14px;
    }

    .form-group {
      margin-bottom: 30px;
    }

    form input,
    .ember-power-select-trigger {
      height: 50px;
      border: 0;
      box-shadow: none;
      color: $dark-purple;
      font-size: 0.95rem;
      line-height: 1.05rem;
      padding: 0 0.75rem;
    }

    .ember-power-select-trigger {
      display: flex;
      align-items: center;
      font-size: 0.8rem;
      line-height: 0.9rem;

      .ember-power-select-selected-item {
        margin: 0;
      }
    }

    button[type='submit'] {
      width: 100%;
      height: 60px;
      border-radius: 33px;
      background-color: $dark-blue;
      border: 0;
    }

    .btn-outline-secondary {
      border-color: $white;
      color: $white;
      text-transform: uppercase;

      &:enabled:hover {
        background-color: $orange;
      }
    }

    .invalid-feedback {
      color: $red;
    }
  }

  @keyframes expand {
    0% {
      width: 70px;
      height: 70px;
      border-radius: 70px;
      transform: translate(0);
    }
    25% {
      border-radius: 60px;
    }
    50% {
      border-radius: 20px;
    }
    90% {
      border-radius: 10px;
    }
    100% {
      width: 100%;
      height: 100%;
      border-radius: 0;
      transform: translate(20px, 20px);
    }
  }
}
