<div>
  <div class="container send-form">
    <div class="row justify-content-md-center align-items-center h-100">
      <div class="col col-lg-6 col-sm-12">
        {{yield}}
      </div>
    </div>
  </div>
</div>

<button class="toggle" {{action (optional (if isExpanded onClose onOpen))}}>
  {{fa-icon (if isExpanded 'times' 'paper-plane') ariaLabel=(if isExpanded (t 'close') (t 'send'))}}
</button>
