.show-history {
  // margin-top: -60px;
  transition: 0.4s;

  .swiper-wrapper {
    margin-bottom: 20px;
  }

  .swiper-slide {
    height: 200px;

    .account-card-content {
      height: auto;
    }
  }
}
