<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col {{unless hideHistory 'show-history'}}">
        {{account-carousel hideHistory=hideHistory accounts=accounts currentSlide=currentSlide onChangeSlide=(action onChangeSlide)}}
      </div>
    </div>
  </div>
</section>
